/* RESET Styles */
body, p {
    margin: 0;
}

/* BASE */
* {
    box-sizing: border-box;
} 

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #a52a2a;
    text-align: center;
    color: #ffffff;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
}

.blue {
    color: #1727ff;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.pic img {
    border-style: dotted;   
}

#pic-block{
    text-align: center;
    padding: 2em;
}

.pic {
    width: 72px;
    height: 45px;
    display: inline-block;        
}

#main-pic {
    text-align: center;
    padding: 1em;
}