@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k3w0yr');
  src:  url('fonts/icomoon.eot?k3w0yr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k3w0yr') format('truetype'),
    url('fonts/icomoon.woff?k3w0yr') format('woff'),
    url('fonts/icomoon.svg?k3w0yr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drible:before {
  content: "\e901";
  color: #fff;
}
.icon-facebook:before {
  content: "\e902";
  color: #fff;
}
.icon-google:before {
  content: "\e903";
  color: #fff;
}
.icon-path1:before {
  content: "\e904";
  color: #00c7fc;
}
.icon-path2:before {
  content: "\e905";
  color: #fff;
}
.icon-path3:before {
  content: "\e906";
  color: #fff;
}
.icon-path4:before {
  content: "\e907";
  color: #fff;
}
.icon-path5:before {
  content: "\e908";
  color: #fff;
}
.icon-path6:before {
  content: "\e909";
  color: #fff;
}
.icon-path7:before {
  content: "\e900";
  color: #00c7fc;
}
.icon-tweeter:before {
  content: "\e90a";
  color: #fff;
}
